* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
 display: flex;
 border: 1px, solid red;
 justify-content: space-between;
 padding: 1%;
 background: #ae90ff;
}

.hero1 {
    border: 2px, solid #f2ff00;
    display: flex;
    align-items: center;
}

.hero-descricao {
    border: 3px, solid #ff7700;
    width: 50%;
    background: #ff00c8 ;
}

.hero-imagem {
    border: 3px, solid #11ff00;
    background: #51a2ff;
    width: 50%;
    height: 500px;
}

.hero-cards {
 display: flex;
 border: 4px, solid green;
}

.card {
    border: 1px, solid blue;
    background: #aab8ff;
}

footer {
    border: 1px, solid black;
    text-align: center; 
}